section {
        background-color: grey;
        padding: 20px;
        border-radius: 50px;
        margin-bottom: 6em;
        padding: 2em;
    }

    h1 {
        color: gold;
        font-size: 6em;
        text-align: center;
    }

    h2 {
        color: gold;
        font-size: 2em;
        text-align: center;
    }
    h3 {
        color: black;
        font-size: 3em;
        text-align: left;
    }
    label {
        font-size: 4em;
        color:azure
    }
    input {
        font-size: 4em;
    }
    caption {
        font-size: 3em;
        color: azure;
    }
    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
        font-size: 2em;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    